body{
  color:white;
  font-family: 'Montserrat', sans-serif;
}

/* UTILITY DISPLAY */
.d-flex{
  display: flex;
}
.clearfix{
  content: "";
  display: table;
  clear: both;
}
.float_right{
  float: right;
}
.float_left{
  float: left;
}
/* TYPOGRAPHY */
h2{
  font-size: 26px;
  font-weight: 800;
}
h6{
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 0;
}
p{
  color: #a3a3a3;
  font-weight: 600;
}
#created_for p,
#popular_artists p{
  font-size: 12px;
}

a:hover{
  color: white;
  text-decoration: none;
}

/* UTILITY */
.pr_1{
  padding-right: 1rem;
}
.mr_1{
  margin-right: 1rem;
}
.ml_1{
  margin-left: 1rem;
}
.m_3{
  margin: 3rem 0;
}

/**************
*   WRAPPER
**************/
.wrapper{
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

/*********
*  MAIN
**********/
#main_content{
  height: calc(100% - 80px);
}

/* ASIDE */
aside.main_menu{
  min-width: 250px;
  background-color: black;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

/* .logo_menu */

/* .logo */
.logo{
  height: 80px;
  padding-left: 20px;
  align-items: center;
}
.logo img{
  height: 40px;
}

/* .menu */
.list-group-item:first-child,
.list-group-item:last-child {
  border-radius: 0;
}
.list-group a{
  color: #a3a3a3;
}
.list-group a:hover {
  color: white;
}
.list-group-item {
  background: none;
  padding: 5px 15px;
  border: none;
  cursor: pointer;
}
.list-group .home{
  border-left: 2px solid #ADFF2F;
}
.list-group .home a{
  color: white;
}
.list-group .search:hover,
.list-group .libreria:hover {
  border-left: 2px solid #ADFF2F;
}
.list-group-item img{
  height: 24px;
}

/* .playlist */
.playlist{
  height: auto;
  padding-left: 20px;
}
.playlist li{
  color: #A3A3A3;
  line-height: 2;
}
.playlist li:hover{
  color: white;
  cursor: pointer;
}

/* .main_menu_footer */
.main_menu_footer{
  padding: 0 20px;
  overflow-y: hidden;
}

/* .app */
.app{
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}
.app img{
  height: 20px;
  margin-right: 5px;
}

/* .profilo */
.profilo{
  padding-top: 5px;
}
.profilo a, .app a{
  color: #A3A3A3;
}
.profilo a:hover, .app a:hover{
  color: white;
}
.profilo img{
  height: 20px;
  margin-right: 5px;
  background: grey;
  border-radius: 50%;
}

/* SECTION */
.covers_section{
  width: calc(100% - 250px);
  background-color: #141922;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  padding-top: 80px;
  /* margin-top: 80px; */
}

/* .subscribe_banner */
.subscribe_banner{
  width: calc(100% - 250px);
  height: 80px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  justify-content: flex-end;
  align-items: center;
}
.subscribe_banner a{
  color: white;
  background: none;
  margin-right: 10px;
  padding: 10px 25px;
  border: 1px solid white;
  border-radius: 25px;
}
.subscribe_banner a:hover{
  color: white;
  background: none;
  transform: scale(1.1);
}

/* nav */
nav{
  justify-content: center;
}
nav > a {
  color: #a3a3a3;
  text-transform: uppercase;
  padding: 10px 10px 5px 10px;
}
nav > a:first-child hr{
  display: block;
}
nav > a:hover:not(:first-child) hr{
  display: block;
}
hr{
  display: none;
  width: 25px;
  border: 1px solid #ADFF2F;
  margin: 1px auto;
}

/*****************
* OVERLAY SECTION
*****************/
.items{
  width: 185px;
  height: auto;
}

.image_play{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 190px;
  color: white;
  opacity: 0;
}
.overlay:hover{
  opacity: 1;
}

#recently_player .items,
#created_for .items,
#popular_artists .items {
  /* display: inline-block; */
  position: relative;
  cursor: pointer;
}
/********************
*  /OVERLAY SECTION
********************/

/* #recently_player */
#recently_player{
  /* flex-wrap: wrap; */
  justify-content: space-between;
}
#recently_player .items img{
  width: 100%;
}

/* #created_for */

/* #popular_artists */
#popular_artists img{
  border-radius: 50%;
}
#popular_artists .overlay{
  border-radius: 50%;
}

/**********
*  FOOTER
**********/
footer#site_footer{
  height: 80px;
  background-color: #282828;
  z-index: 10;
}

footer#site_footer i{
  margin: 0 5px;
}




/* .player */
.player{
  justify-content: space-between;
}


/* .sing */
.sing{
  width: 250px;
  padding: 15px 0 15px 20px;
  justify-content: space-between;
  align-items: center;
}
.sing img{
  height: 50px;
  margin-right: 10px;
}

.card_sing{
  width: 70%;
}
.icons{
  width: 30%;
}
/* .play_sing */
.play_sing{
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.icons_play{
  height: 30px;
  align-items: center;
}




/* .playbar */
.playbar{
  width: 100%;
  justify-content: center;
}
input {
  margin: .4rem;
}
label{
  margin: 0 10px;
}


/* .other */
.other{
  width: 16%;
  align-items: center;

}
